body {
    margin: 0;
    padding: 0;
    background-color: #282c34;
    height: 100vh;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: #fff;
    font-size: 24px;
    pointer-events: none;
    z-index: 9999;
    user-select: none;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(100vh);
    }
}
